{% extends 'base.html' %}

{% block content %}
    <main class="container">
            <h3 class="mt-5"> Category - {{ category }} </h3>
            <div class="row mb-2">
                {% if posts %}
            {% for post in posts %}
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <small class="mb-1 text-muted"> {{ post.created_at | timesince }} ago | {{ post.author }} </small>
                    <p class="card-text">{{ post.short_description | truncatewords:10  }}</p>
                    <a href="{% url 'blogs' post.slug %}" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p> No posts found </p>
            {% endif %}

            </div>
<div class="row g-5">

</div>

    </main>

{% endblock %}